@if (forecastFiltered$ | async; as forecast) {
<div class="weather-card">

  <h3 class="title">{{ selectedDate$| async| date:'EEEE' }}</h3>

  <div class="weather-card__forecast-list">
    @for (day of forecast; track $index) {

    <!--  items por cada 3 horas del día -->
    <div class="forecast-item" [title]="day.weather[0].description">

      <p>{{ day.dt_txt | date:'shortTime' }}</p>
      <!-- icono -->
      <img [src]="'https://openweathermap.org/img/wn/' + day.weather[0]?.icon + '@2x.png'" />

      <!-- temperatura -->
      <p>{{ day.main.temp | number:'1.0-1' }} °C</p>

      <!-- descripción -->
      <small>{{ day.weather[0]?.description }}</small>
    </div>
    }
  </div>
</div>
}