<div class="input-container">

    <input type="text" placeholder="Buscar ciudad..." [formControl]="searchControl" (focus)="showList = true" />

    @if (cities.length > 0 && showList) {
    <ul class="dropdown">

        @for(city of cities; track $index) {
        <li (click)="selectCity(city)">
            {{ city.name }} -
            <span class="muted">
                {{ city.state ? city.state + ', ' : '' }}{{ city.country }}
            </span>
        </li>
        }

    </ul>
    }

</div>