.input-container {
    position: relative;
    padding: 20px 30px;
    width: 100%;
    user-select: none;
    display: block;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;

    border-radius: 0.8em;
    border: 1px solid var(--color-border);

    background-color: var(--color-bg-main);

    color: var(--color-text-primary);
    outline: none;
}

input:focus {
    border-color: var(--color-border-input-active);
}

ul {
    position: absolute;
    top: calc(100% - 18px);
    left: 30px;
    right: 30px;

    z-index: 1000;

    list-style: none;
    padding: 0;
    margin: 0;

    background-color: var(--color-bg-main);
    border: 1px solid var(--color-border);
    border-radius: 0.4em;

    box-shadow: 0 8px 8px var(--color-shadow);

    max-height: 200px;
    overflow-y: auto;
}

li {
    padding: 8px;
    cursor: pointer;
    color: var(--color-text-primary);
    border-radius: 0.4em;
    font-size: 12px;
}

li:hover {
    background: var(--color-bg-muted);
}
.muted {
  color: var(--color-text-muted);
  font-size: 11px;
}