        <div class="weather-card weather-card--semana">

            <div class="weather-card__date">
                <h3>{{ today$ | async | date:'MMMM y' }}</h3>
                <p class="subtitle">{{ today$ | async | date:'fullDate' }}</p>
                <p>{{ today$ | async | date:'hh:mm a'}}</p>
            </div>

            <div class="weather-card__forecast-list">

                @if (forecast$ | async; as forecast) {

                @for (f of forecast.list; track $index) {

                @if (f.dt_txt.includes('12:00:00')) {

                <div class="forecast-item" [title]="f.weather[0].description">
                    <p>{{ f.dt_txt | date:'EEEE' }}</p>
                    <img [src]="'https://openweathermap.org/img/wn/' + f.weather[0].icon + '@2x.png'" />
                    <p>{{ f.main.temp.toFixed(1) }} °C</p>
                </div>

                }

                }

                }

            </div>
        </div>