.forecast-item {
    border: 1px solid var(--color-border);
    box-shadow: 0 0 3px 0 var(--color-box-shadow);
    transition: var(--transition);
}

.forecast-item:hover,
.forecast-item.active:hover {
    color: var(--text);
    cursor: pointer;
    background-color: var(--hover-bg);
    transform: translateY(-3px);
}

.forecast-item.active {
    background-color: var(--active-bg);
    box-shadow: 0 0 5px 0 var(--color-box-shadow);
    border: 1px solid var(--color-border);
    color: var(--active-text);
}