.title {
    text-align: center;
    color: var(--color-text-primary);
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 20px;
}
 
.weather-card {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.weather-card__details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.weather-card__temperature {
    font-size: 28px;
    font-weight: 900;
}

.weather-card__icon {
    width: 70px;
    height: 70px;
}

.weather-card,
.forecast-item {
    user-select: none;
}

.weather-card__forecast-list {
    display: flex;
    gap: 10px;
}

.forecast-item {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-muted);
    border-radius: 1em;
}

.forecast-item img {
    width: 70px;
    height: 70px;
}