.weather-card {
    padding: 20px 40px;
    height: 100%;
}

.weather-card__details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.weather-card__temperature {
    font-size: 28px;
    font-weight: 900;
}

.weather-card__icon {
    width: 70px;
    height: 70px;
}
.weather-card,
.forecast-item {
    user-select: none;
}