* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base config */
:root {
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
}

/* 🌙 Dark Theme */
body.dark-theme {
  --color-bg-main: #0f172a;
  --color-bg-surface: #1e293b;
  --color-bg-muted: #334155;

  --color-text-primary: #f1f5f9;
  --color-text-secondary: #cdd1d8;

  --color-accent: #076185;
  --color-accent-hover: #2563eb;

  --color-border: #0f1e3380;
  --color-shadow: rgba(0, 0, 0, 0.3);;
}

/* ☀️ Light Theme */
body.light-theme {
  --color-bg-main: #d3e0ec;
  --color-bg-surface: #ffffff;
  --color-bg-muted: #e2e8f0;

  --color-text-primary: #0f172a;
  --color-text-secondary: #ffffff;

  --color-accent: rgb(69, 163, 201);
  --color-accent-hover: #2563eb;

  --color-border: #cbd5e183;
  --color-shadow: rgba(59, 59, 59, 0.3);
}

/* Base */
body {
  background: var(--color-bg-main);
  color: var(--color-text-primary);
  transition: background var(--transition-normal), color var(--transition-normal);
}

/* Contenedor switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

/* Oculta checkbox */
.theme-switch input {
  display: none;
}

/* Fondo */
.slider {
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background-color: var(--color-bg-muted);
  cursor: pointer;
  transition: var(--transition-normal);
}

/* Bolita */
.slider::before {
  content: "🌙";
  position: absolute;
  left: 3px;
  bottom: 3px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: var(--transition-normal);
}

/* Activo */
.theme-switch input:checked+.slider {
  background-color: var(--color-accent);
}

.theme-switch input:checked+.slider::before {
  transform: translateX(28px);
  content: "☀️";
}

/* Interacciones */
.slider:active::before {
  transform: scale(0.9);
}

.theme-switch,
.slider,
.slider::before {
  user-select: none;
}