* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base config */
:root {
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;

  --temp-cool-start: rgba(11, 123, 167, 0.658);
  --temp-cool-end: rgba(0, 180, 216, 0.212);

  --temp-soft-start: rgba(46, 204, 112, 0.678);
  --temp-soft-end: rgba(144, 238, 144, 0.26);

  --temp-warm-start: rgba(246, 202, 59, 0.671);
  --temp-warm-end: rgba(124, 89, 18, 0.253);

  --temp-hot-start: rgba(231, 77, 60, 0.616);
  --temp-hot-end: rgba(246, 159, 59, 0.336);

  --temp-text-cool: #063a4a;
  --temp-text-soft: #1e4d2b;
  --temp-text-warm: #595a17;
  --temp-text-hot: #5a1f17;


font-family: 'Inter', sans-serif;
}

/*  Dark Theme */
body.dark-theme {
  --color-bg-main: #0f172a;
  --color-bg-surface: #1e293b;
  --color-bg-soft: #06080e1f;
  --color-bg-muted: #334155;

  --color-text-primary: #f1f5f9;
  --color-text-secondary: #cdd1d8;

  --color-accent: #076185;
  --color-accent-hover: #2563eb;

  --color-border: #0f1e3380;
  --color-shadow: rgba(0, 0, 0, 0.3);

  --color-border-input-active: var(--color-accent);

  --temp-cool-start: rgba(0, 180, 216, 0.5);
  --temp-cool-end: rgba(7, 97, 133, 0.10);

  --temp-soft-start: rgba(46, 204, 112, 0.568);
  --temp-soft-end: rgba(144, 238, 144, 0.08);

  --temp-warm-start: rgba(246, 184, 59, 0.384);
  --temp-warm-end: rgba(122, 92, 32, 0.384);

  --temp-hot-start: rgba(231, 77, 60, 0.637);
  --temp-hot-end: rgba(246, 149, 59, 0.322);

  --temp-text-cool: #cfefff;
  --temp-text-soft: #d7ffe3;
  --temp-text-warm: #fff5d6;
  --temp-text-hot: #ffe0d6;
}

/*  Light Theme */
body.light-theme {
  --color-bg-main: #d3e0ec;
  --color-bg-surface: #ffffff;
  --color-bg-muted: #e2e8f0;

  --color-text-primary: #0f172a;
  --color-text-secondary: #ffffff;

  --color-accent: rgb(69, 163, 201);
  --color-accent-hover: #2563eb;

  --color-border: #cbd5e183;
  --color-shadow: rgba(59, 59, 59, 0.3);

  --color-border-input-active: var(--color-accent)
}

/* Base */
body {
  background: var(--color-bg-main);
  color: var(--color-text-primary);
  transition: background var(--transition-normal), color var(--transition-normal);
}

/* Contenedor switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

/* Oculta checkbox */
.theme-switch input {
  display: none;
}

/* Fondo */
.slider {
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background-color: var(--color-bg-muted);
  cursor: pointer;
  transition: var(--transition-normal);
}

/* Bolita */
.slider::before {
  content: "🌙";
  position: absolute;
  left: 3px;
  bottom: 3px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: var(--transition-normal);
}

/* Activo */
.theme-switch input:checked+.slider {
  background-color: var(--color-accent);
}

.theme-switch input:checked+.slider::before {
  transform: translateX(28px);
  content: "☀️";
}

/* Interacciones */
.slider:active::before {
  transform: scale(0.9);
}

.theme-switch,
.slider,
.slider::before {
  user-select: none;
}